.intuition-application * {
  box-sizing: border-box;
}

/* Suspicion labeler widget. TODO: refactor naming */
.role-striker-container {
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  z-index: 1000000;
}

.role-striker-container.alignment-mode {
  border-color: cyan;
}
.role-striker-container.alignment-mode .drag-handle {
  background-color: cyan;
}
.role-striker-container.alignment-mode .role-name:nth-child(odd) {
  background-color: rgba(0, 153, 255, 0.25);
}

.role-striker-container .drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #AAA;
}

.players {
  height: 100%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.players .player {
  height: 6.66%;
}

.player.editable.is-dead .player-control.vote,
.player.editable.is-dead .player-control.nomination,
.player.is-dead .player-control.player-number {
	background: gray;
}

.player-control {
  float: left;
  width: 10%;
  height: 100%;
	border: 1px solid gray;
}

.player.player-being-edited .player-control.player-number {
	box-shadow: inset 0px 0px 0px 3px black;
}

.player-control.nomination {
	background: black;
}
.player.player-being-edited .nomination.is-nominating {
	background: yellow;
}

.player.editable .player-control.vote {
	background: cyan;
}
.player.editable .player-control.vote.guilty {
	background: red;
}
.player.editable .player-control.vote.innocent {
	background: #00FF00;
}

.player-read {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}
.player.is-suspicious .player-read {
  background-color: rgba(255, 255, 0, 0.25);	
}
