.intuition-application * {
  box-sizing: border-box;
}

/* Suspicion labeler widget. TODO: refactor naming */
.role-striker-container {
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  z-index: 1000000;
}

.role-striker-container.alignment-mode {
  border-color: cyan;
}
.role-striker-container.alignment-mode .drag-handle {
  background-color: cyan;
}
.role-striker-container.alignment-mode .role-name:nth-child(odd) {
  background-color: rgba(0, 153, 255, 0.25);
}

.role-striker-container .drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #AAA;
}


.players {
  height: 100%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.players .player {
  height: 6.66%;
}

/* Notch to note the implicit dividing line in the player actions area */
.players:after {
	bottom: 0;
	left: 55%; /* 10% for the player control + 45% for the first action */
	background-color: black;
	content: " ";
	height: 10px;
	width: 2px;
	position: absolute;
	pointer-events: none;
}


.player.editable.is-dead .player-control.vote,
.player.editable.is-dead .player-control.nomination,
.player.is-dead .player-control.player-number {
	background: gray;
}

.player-control {
	float: left;
  width: 10%;
  height: 100%;
	border: 1px solid gray;
}

.player-behavior {
	float: left;
	width: 45%;
	height: 100%;
}

.player-talk.is-chatty {
	background-color: rgba(255, 255, 0, 0.25);
}
.player-talk.is-mafia-ally {
	background-color: rgba(255, 0, 0, 0.25);
}
.player-talk.is-mafiaesque {
	background-color: rgba(153, 103, 195, 0.25);
}

.player.has-trial-data .player-number {
	box-shadow: inset 0px 0px 0px 3px black;
}
.player.abstained-from-voting-for-selected-player .player-number {
	box-shadow: inset 0px 0px 0px 3px orange;	
}

.player-vote.has-voted-up {
	background: rgba(0, 239, 255, 0.25);
}
.player-vote.has-abstained-from-lynch-vote {
	background: rgba(0, 239, 255, 0.25);
}
.player-vote.has-voted-lynch {
	background: rgba(255, 0, 0, 0.25);
}

.player-control.nomination, .player-control.vote {
	background: black;
}
.player.editable .nomination.is-nominating {
	background: yellow;
}

.player.editable .vote {
	background: cyan;
}
.player.editable .vote.guilty {
	background: red;
}
.player.editable .vote.innocent {
	background: #00FF00;
}

.player.player-being-edited .player-number {
	box-shadow: inset 0px 0px 0px 3px blue;
}
.player.is-town .player-number {
	background: rgba(0, 255, 0, 0.25);
}
.player.is-mafia .player-number {
	background: rgba(255, 0, 0, 0.25);
}

/* 
 * Make the selected player's line controls behave differently since
 * they can't vote for/nominate themselves
 */
.player.player-being-edited .vote,
.player.player-being-edited .nomination {
	background: #4E4219;
}

.player-talk {
  height: 100%;
}
.player.is-suspicious .player-talk {
  background-color: rgba(255, 255, 0, 0.25);
}
